<!DOCTYPE html>
{% load static %}
<HTML>
    <head>
        <link rel="stylesheet" href="{% static 'items/index.css' %}">
        <script src="{% static 'items/search.js' %}"></script>
    </head>
<body>

<div class = "header">
    <h1>Items Database</h1>
</div>
<br></br>
<p>This item database page acts as a way to interface with a database.
With this page, "items" can be retrieved from a database, as seen below,
add new items to the database, update an existing item from the database,
and remove an item from the database. 
</p>

<div id="itemContainer" class="container">
    <table border="1", id="itemsTable">
        <th colspan="5"><input type="text" id="itemInput" placeholder="Search for items..." onkeyup='searchTable()'></input></th>
        {% for item in items %}
        <tr>
        <td>{{ item.id }}</td>
        <td>{{ item.itemname }}</td>
        <td>{{ item.itemdesc }}</td>
        <td><a href="update/{{ item.id }}">update</a></td>
        <td><a href="delete/{{ item.id }}">delete</a></td>
        </tr>
        {% endfor %}
        </table>
</div>


<a href="add/"><button>Add item</button></a>

<a href="/"><button>Home</button></a>

</body>
</HTML>