<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'items/index.css' %}">
    </head>
<body>

<div class="header">
    <h1>Update item</h1>
</div>

<br><br>

<div class="containerForm">
    <form action="updaterecord/{{ myitem.id }}" method="post">
    {% csrf_token %}
    Item Name:<br>
    <input name="name" value="{{ myitem.itemname }}">
    <br><br>
    Item Desc:<br>
    <input name="desc" value="{{ myitem.itemdesc }}">
    <br><br>
    <input type="submit" value="Submit">
    <a href=".."><button type="button">Cancel</button></a>
    </form>
</div>

</body>
</html>