<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'todo/todoIndex.css' %}">
    </head>
<body>

<div class="header">
    <h1>Todo list!</h1>
</div>
<br></br>
<p>this is a todo list... of things you might need to do!</p>

<div class="gridContainer">
    <div class="containerLeft">
        a
    </div>
    
    <div class="containerRight">
        b
    </div>
    
    <div class="containerForm">
        c
    </div>
</div>

<a href="items\"><button>Item Database</button></a>
<a href="/"><button>Home</button></a>

</body>
</html>