.header {
	margin-left:0%;
    text-align: justify;
	height: 40px;
    padding: 1em;
    background: gray;
	padding-left:10px;
    padding-bottom: 1px;
    padding-top: 1px;
	border-color:black;
	border-bottom-style: solid;
	position: fixed;
	width: 100%;
	color:white;	
}
body
{
	margin:0;
	background-color:beige; 
}
h1
{
	font-size: 20px;
}
p
{
    margin-left:10px;
}
a
{
    margin-left:10px;
}
.gridContainer {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 10px;
	grid-auto-rows: minmax(100px, auto);
	padding:10px;
}
.containerLeft
{
	grid-column: 1 / 2;
  	grid-row: 1;
	border: 1px black solid;
}
.containerRight
{
	grid-column: 2 / 3;
  	grid-row: 1;
	border: 1px black solid;
}
.containerForm
{
	grid-column: 3;
  	grid-row: 1;
	border: 1px black solid;
}